.page {
	font-family: var(--font-family);
	font-weight: 400;
	color: var(--main-color);
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

.page__body {
	min-width: 390px;
	background-color: var(--bg-color);
}

.page__body--no-scroll {
	overflow: hidden;
}

.is-resizing *,
.is-resizing *::before,
.is-resizing *::after {
	transition: none !important;
}

.container {
	width: min(var(--container-width), 100% - var(--container-padding) * 2);
	margin-inline: auto;
}

img {
	-o-object-fit: cover;
	object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
	outline: 1px solid var(--accent-color);
	outline-offset: 3px;
	border-radius: 3px;
}
