:root {
	/* font-family */
	--font-family: "Open Sans", sans-serif;
	--second-family: "NAMU Pro", sans-serif;

	/* colors */
	--main-color: #fff;
	--accent-color: #c5358c;
	--bg-color: #f8f8f8;
	--secondary-color: #111;
	--disabled-color: ;
	--disabled-glow-color: ;
	--shadow-color: #333;

	/* container */
	--container-width: 1360px;
	--container-padding: 15px;

	/* transitions */
	--transition-time: 0.3s;

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
