html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px rgb(190, 190, 190);
	padding: 15px;
	gap: 25px;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.cube {
	width: 55px;
	height: 55px;
	background-color: rgb(0, 0, 0);
}

a {
	color: rgb(0, 0, 0);
}

.tel {
	text-decoration: none;
}
