html {
	font-family: Ubuntu, sans-serif;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

body * {
	box-sizing: border-box;
}

.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.decor-wrapper {
	position: relative;
}

.decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url(../img/decor-icon.svg) no-repeat;
	width: 528px;
	height: 48px;
}

.img-wrapper1::before {
	left: -350px;
	top: 100px;
}

.img-wrapper2::before {
	right: -350px;
	bottom: 136px;
}

.article-title {
	margin-bottom: 40px;
	max-width: 596px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.h1 {
	font-size: 48px;
}

.h2 {
	font-size: 36px;
}

.text1 {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.width {
	max-width: 744px;
}

.mb {
	margin-bottom: 80px;
}

.img-gym,
.myVideo {
	height: 100%;
	width: 100%;
}

.article-list {
	margin-top: 0;
	padding-left: 16px;
	margin-bottom: 80px;
}

.article-item {
	margin-bottom: 12px;
}

.article-item::marker {
	font-size: 22px;
	color: #3596ed;
}

.video-wrapper video {
	width: 100%;
	display: block;
}

.video-wrapper {
	position: relative;
}

.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 2;
	transition: transform 0.3s;
}

.play-btn:hover {
	transform: translate(-50%, -50%) scale(1.1);
}

.play-icon {
	width: 60px;
	height: 60px;
	display: block;
}

.myVideo {
	margin-bottom: 40px;
}
