.footer {
	background-color: var(--secondary-color);
	color: var(--main-color);
	padding-block: clamp(30px, 3.22vw + 5.23px, 50px);
}

@media (width <= 470px) {
	.footer {
		padding-block: 20px;
	}
}

.footer__logo {
	display: block;
	width: fit-content;
	margin-bottom: clamp(10px, 2.42vw - 8.58px, 25px);
}

@media (width <= 470px) {
	.footer__logo {
		margin-bottom: 5px;
	}
}

.footer__logo-img {
	display: block;
	width: clamp(73px, 17.71vw - 63.21px, 183px);
	height: auto;
	aspect-ratio: 183 / 77;
}

@media (width <= 470px) {
	.footer__logo-img {
		width: 110px;
	}
}

.footer__grid {
	display: grid;
	gap: 0 clamp(15px, 12.08vw - 77.87px, 90px);
}

@media (width > 470px) {
	.footer__grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (width <= 470px) {
	.footer__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px 50px;
	}
}

.footer__column {
	display: flex;
	flex-direction: column;
}

.footer__title,
.footer__subtitle {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(14px, 1.61vw + 1.62px, 24px);
	color: var(--main-color);
}

@media (width <= 470px) {
	.footer__title,
	.footer__subtitle {
		font-size: 12px;
	}
}

.footer__title {
	margin-bottom: clamp(10px, 3.22vw - 14.77px, 30px);
}

.footer__subtitle {
	margin-bottom: clamp(5px, 0.81vw - 1.19px, 10px);
}

.footer__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

@media (width > 768px) {
	.footer__list {
		gap: 10px;
	}
}

@media (width <= 768px) {
	.footer__list {
		gap: 5px;
	}
}

.footer__link {
	font-weight: 300;
	font-size: clamp(10px, 1.29vw + 0.09px, 18px);
	color: var(--main-color);
	text-decoration: none;
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.footer__link:hover {
		color: var(--accent-color);
	}
}

.footer__phone {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: clamp(14px, 1.61vw + 1.62px, 24px);
	line-height: 150%;
	color: var(--main-color);
	text-decoration: none;
	white-space: nowrap;
}

@media (width <= 470px) {
	.footer__phone {
		font-size: 12px;
	}
}

.footer__socials {
	display: flex;
	gap: clamp(10px, 1.61vw - 2.38px, 20px);
	margin: 0;
	margin-top: clamp(15px, 6.44vw - 34.53px, 55px);
	padding: 0;
	list-style: none;
}

.footer__social {
	display: block;
}

.footer__social-icon {
	display: block;
	width: clamp(20px, 3.22vw - 4.77px, 40px);
	height: clamp(20px, 3.22vw - 4.77px, 40px);
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.footer__social:hover .footer__social-icon {
		color: var(--accent-color);
	}
}

.footer__copyright {
	align-self: end;
	font-weight: 300;
	font-size: clamp(10px, 1.29vw + 0.09px, 18px);
	line-height: 150%;
	color: var(--main-color);
}

@media (width > 470px) {
	.footer__copyright {
		grid-column: 3 / -1;
	}
}

@media (width <= 470px) {
	.footer__copyright {
		grid-column: 1 / -1;
	}
}
