.shop-bar {
	background: var(--main-color);
}

@media (width > 768px) {
	.shop-bar {
		padding-block: 150px;
	}
}

@media (width <= 768px) {
	.shop-bar {
		padding-block: 60px;
	}
}

@media (width <= 768px) {
	.shop-bar {
		padding-block: 35px;
	}
}

.shop-bar__container {
	display: grid;
}

@media (width > 592px) {
	.shop-bar__container {
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
}

@media (width <= 592px) {
	.shop-bar__container {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}

.shop-bar__card {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow:
		0 2px 21px 0 #0000000d,
		0 2px 21px 0 #0000000d;
	background: var(--main-color);
}

.shop-bar__button {
	padding-left: clamp(12px, 0.254rem + 1.55vw, 40px);
	color: var(--secondary-color);
	cursor: pointer;
	text-decoration: none;
	transition:
		background-color var(--transition-time),
		color var(--transition-time);
}

.shop-bar__button::after {
	content: "";
	position: absolute;
	inset: 0;
}

@media (any-hover: hover) {
	.shop-bar__button:hover {
		border-radius: 0 0 10px 10px;
		background-color: var(--secondary-color);
		color: var(--main-color);
	}
}

.shop-bar__title {
	font-family: var(--second-family);
	font-weight: 900;
	font-size: clamp(13px, -0.772rem + 3.3vw, 30px);
	color: currentColor;
	margin-top: clamp(10px, 0.254rem + 1.55vw, 20px);
	margin-bottom: clamp(8px, 0.254rem + 1.55vw, 11px);
}

.shop-bar__arrow-text {
	display: flex;
	gap: clamp(10px, 0.208rem + 0.87vw, 20px);
}

.shop-bar__text {
	font-weight: 400;
	font-size: clamp(11px, -0.524rem + 2.52vw, 24px);
	color: currentColor;
	margin-bottom: clamp(15px, 0.254rem + 1.55vw, 30px);
}

.shop-bar__arrow-text span svg {
	width: clamp(16px, 0.25rem + 1.56vw, 34px);
	height: clamp(16px, 0.25rem + 1.56vw, 34px);
}

.shop-bar__arrow-text span svg g path {
	fill: currentColor;
}
